:root {
    --color-principal: #14bfb1;
    --color-secundario: #2fe5e4;
    --color-texto: #293a4e;
    --color-blanco: #ffffff;
    --color-fondo: #f5f9f9;
    --color-tarjetaAlimentos1: #f9e6c7;
    --color-tarjetaSP1: #ead6fc;
    --color-tajetaAnimales: #e3fddc;
    --color-tarjetaEducacion: #f0afab;
    --color-tarjeta2: #f0f7ff;
    --fuente-titulos: "Shrikhand", sans-serif;
    --fuente-texto: "Roboto", sans-serif;
    --visiones: "Lobster", cursive;
    --colorAlimentos: #ffcb9efb;
    --colorSalud: #88d9f7;
    --colorAnimales: #d7ecb3;
    --colorEducacion: #fbb995;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: var(--fuente-texto);
    background-color: var(--color-fondo);
    color: var(--color-texto);
    line-height: 1.6;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--color-blanco);
    border-radius: 15px;
}

/* NAVBAR */
.navbar__container {
    background: linear-gradient(135deg, var(--color-principal), var(--color-secundario));
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: max-content;
    max-height: 100px;
    padding: 25px;
    margin-bottom: 30px;
}

.navbar__logo {
    max-width: 75px;
    margin: 8px;
    padding: 10px;
    background: var(--color-blanco);
    border-radius: 8px;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 25px;
}

/* LISTAS DE NAVEGACIÓN */
.ul1 {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    gap: 0;
}

.ul2 {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 0;
    margin: 0;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.a1 {
    color: var(--colorDos);
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
    display: flex;
    text-align: center;
}

.ul1 a, .ul2 a {
    color: var(--color-texto);
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 25px;
    
}

#a2 {
    color: var(--color-principal);
    background-color: var(--color-blanco);
}
ul li:last-child a {
    color: var(--color-principal);
    background-color: var(--color-blanco);
    font-weight: 500;
}
.navbar__botones {
    margin: 0;
    background-color: rgba(220,238,170,0.6);
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
}
ol {
    list-style-type: decimal !important;
    margin-left: 20px;
  }

/* TITULOS */
h1, .h1 {
    color: var(--colorUno);
    font-family: var(--fuentePrincipal);
    font-size: 30px;
    text-align: center;
    margin: 0;
}

.titulo {
    text-align: center;
    font-size: 1rem;
    padding-left: 1rem;
    margin: 5px;
    box-sizing: border-box;
}

/* SECCIÓN HERO */
.hero__text {
    text-align: center;
    font-size: 1rem;
    padding-left: 1rem;
}

.hero__services {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    background-color: var(--color-fondo);
    border-radius: 15px;
}

.service {
    background: var(--color-blanco);
    border-radius: 15px;
    overflow: hidden;
    width: 200px;
    height: auto;
}

.service img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-bottom: 3px solid var(--color-principal);
}

/* SECCIÓN ALIMENTACIÓN */
.SeccionAlimentacion{
    background-color:var(--colorAlimentos);
    padding: 25px;
    text-align: center;
}

.alimentacion__info {
    gap: 30px;
    background: var(--colorAlimentos);
    padding: 20px;
    border-radius: 15px;
    margin: 20px 0;
}

/*Seccion Salud y Proteccion*/
.SeccionSaludProteccion{
    background-color:var(--colorSalud);
    padding: 25px;
    text-align: center;
}

.SP__info {
    gap: 30px;
    background: var(--colorSalud);
    padding: 20px;
    border-radius: 15px;
    margin: 20px 0;
}

/*Animales*/
.AmbienteYAnimales{
    background-color:var(--colorAnimales);
    padding: 25px;
    text-align: center;
}

.Animales__info {
    gap: 3rem;
    background: var(--colorAnimales);
    padding: 20px;
    border-radius: 15px;
    margin: 20px 0;
}

/*Educacion*/
.Educacion{
    background-color:var(--colorEducacion);
    padding: 25px;
    text-align: center;
}

.Educacion__info {
    gap: 3rem;
    background: var(--colorEducacion);
    padding: 20px;
    border-radius: 15px;
    margin: 20px 0;
}

/* SECCIÓN ONG */
.containerONG {
    flex: 1;
    padding: 25px;
    border-radius: 12px;
}

#BA {
    background: var(--color-tarjetaAlimentos1);
}

#CI {
    background: linear-gradient(to bottom,#ff8f9a,#a1a1e2,#b6e0b1)
}

#SP{
    background-color: var(--color-tarjetaSP1);
}

#OPS{
    background: linear-gradient(to bottom,#48b1e1,#eb9872,#4d657a)
}

#UNICEF{
    background: #48b1e1;
}

#MAA{
    background: var(--color-tajetaAnimales);
}

#WWF{
    background: linear-gradient(to bottom,#92b98a,#81A3B1,#CFDACA);
}

#EDU{
    background: var(--color-tarjetaEducacion);
}

#WVE{
    background: linear-gradient(to bottom,#ebc0a8,#ffa97a);
}
.subtitulo {
    color: var(--color-texto);
    font-size: 1.5rem;
    margin-bottom: 15px;
    margin-top: 0;
    text-align: center;
}

.texto,
.texto2,.proyectos {
    color: var(--color-texto);
    line-height: 1.6;
    margin-bottom: 15px;
    text-align: justify;
}

.ofrecen,
.vision {
    color: var(--color-principal);
    font-size: 1.2rem;
    margin-top: 20px;
    -webkit-text-stroke: 1px black;
    font-size: 2rem;
    text-align: center;
}
.visiones_FRASE {
  font-family: var(--visiones);
  text-align: justify;
}



/*FUNDACIONES*/
.Todas_Fundaciones{
    background: var(--color-tarjetaAlimentos1);
    align-content: space-around;
}

.FUNDACIONES{
    display: flex;
    gap: 1rem;
}

.Todas_ONG{
    margin: 0 1rem;
    background: var(--color-tarjeta2);
    text-align: center;
}
.contactos{
    background: var(--color-tarjetaSP1);
    margin: 0;
}
.personas{
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
    margin: 1rem;
    justify-content: center;
    text-align: center;
}
/*ESCRITORIO */
@media (min-width: 1025px) {

    .navbar__container {
        width: 100%;
        max-width: 1400px;
        justify-content: space-between;
        align-items: center;
        padding: 40px 30px;
        background-size: cover;
        max-height: 150px;
    }

    .navbar__logo {
        max-width: 150px;
        margin: 30px;
    }

    h1 {
        font-size: 60px;
        color: var(--color-blanco);
        font-family: var(--fuente-titulos);
        letter-spacing: 2px;
    }

    .ul1 {
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }

    .ul2 {
        justify-content: flex-end;
        gap: 20px;
    }

    ul li a {
        color: var(--color-texto);
        text-decoration: none;
        font-family: var(--fuente-texto);
        font-size: 16px;
        font-weight: 500;
        padding: 5px 10px;
    }

    ul li:last-child a {
        color: var(--color-principal);
        font-weight: 700;
    }

    .navbar__botones {
        background-color: rgba(220,238,170,0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 25px;
        padding: 10px;
        border-top: 2px solid var(--color-texto);
        border-radius: 10px;
    }

    .hero__services {
        background: var(--color-fondo);
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
        padding: 2rem;
        border-radius: 15px;
    }

    .service {
        min-width: 250px;
        flex-shrink: 0;
    }

    .service img {
        width: 100%;
        height: max-content;
        border-radius: 15px 15px 0 0;
    }

    .alimentacion__info {
        display: flex;
        flex-direction: row;
        gap: 30px;
        align-items: flex-start;
        justify-content: space-between;
        padding: 30px;
        border-radius: 20px;
    }
    
    #BA,
    #CI {
        padding: 2rem;
        flex: 1;
        border-radius: 25px;
    }
}


/*TABLETS */
@media (min-width: 768px) and (max-width: 1024px) {

    .navbar__container {
        justify-content: space-between;
        align-items: center;
        max-height: 120px;
    }

    .navbar__logo {
        max-width: 120px;
        padding: 8px;
    }

    h1 {
        font-size: 50px;
        color: var(--color-blanco);
        font-family: var(--fuente-titulos);
        text-align: center;
    }

    .ul1, .ul2 {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    ul li a {
        color: var(--color-texto);
        font-family: var(--fuente-texto);
        background-color: var(--color-blanco);
        font-size: 16px;
        font-weight: 500;
        padding: 5px 10px;
        text-decoration: none;
        border-radius: 25px;
    }

    ul li:last-child a {
        color: var(--color-principal);
        background-color: var(--color-blanco);
        font-weight: 700;
    }

    .navbar__botones {
        justify-content: center;
        padding: 8px;
        gap: 15px;
        width: auto;
    }

    #a2 {
        color: var(--color-principal) !important;
        font-weight: bold !important;
    }

    .hero__services {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
        padding: 2rem;
        border-radius: 15px;
        background: var(--color-fondo);
    }

    .service {
        background: var(--color-blanco);
        border-radius: 15px;
        width: 200px;
    }

    .service img {
        width: 200px;
        height: 150px;
        object-fit: cover;
        border-bottom: 3px solid var(--color-principal);
    }

    .titulo {
        text-align: center;
        font-size: 1.2rem;
        margin: 5px;
        box-sizing: border-box;
    }

    .alimentacion__info {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        padding: 20px;
        border-radius: 15px;
        margin: 20px auto;
    }


    .SeccionAlimentacion {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 25px;
        border-radius: 15px;
    }
}
